pkgbase = phasefetch
	pkgdesc = Calculates the current moon phase and writes corresponding art to a file, designed for use with FastFetch
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/SteveMCWin/phasefetch
	arch = any
	license = MIT
	depends = bash
	depends = awk
	depends = file
	depends = coreutils
	optdepends = imagemagick: tint PNG moon images with --color
	optdepends = fastfetch: display moon phase in terminal fetch
	source = phasefetch-1.0.2.tar.gz::https://github.com/SteveMCWin/phasefetch/archive/refs/tags/v1.0.2.tar.gz
	sha256sums = f3bb45e7bf557eb1007411ad587775f44f70c9d1d4d7a490f837bc571f9da739

pkgname = phasefetch
