pkgbase = phasefetch
	pkgdesc = Calculates the current moon phase and writes corresponding art to a file, designed for use with FastFetch
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/SteveMCWin/phasefetch
	arch = any
	license = MIT
	depends = bash
	depends = awk
	depends = file
	depends = coreutils
	optdepends = fastfetch: display moon phase in terminal fetch
	source = phasefetch-0.9.1.tar.gz::https://github.com/SteveMCWin/phasefetch/archive/refs/tags/v0.9.1.tar.gz
	sha256sums = eb8eba30cdb0200f9b1db340bd69ede2219968f99a6159de8125848c1a2e847b

pkgname = phasefetch
